Write a Python program to print the following sentence: "Python programming is fun!"

In [2]:
print('Python programming is fun!')

Python programming is fun!

Create a variable name and assign it your name as a string. Print "Hello, my name is name!"

In [3]:
name = 'Sura'
print(f'Hello, my name is {name}!')

Hello, my name is Sura!

Write a Python program to calculate the sum of 123 and 456 and print the result.

In [4]:
num1 = 123
num2 = 456
print(f'The result of {num1} + {num2} = {num1+num2}')

The result of 123 + 456 = 579

Create two variables a and b with values 20 and 10 respectively. Print the result of their multiplication.

In [5]:
a = 20
b = 10
print(f'Multiplication of {a} * {b} = {a*b}')

Multiplication of 20 * 10 = 200

Create a variable age and assign it your age. Print a sentence stating your age using an f-string.

In [6]:
age = 24
print(f"My current age is {age} years.")

My current age is 24 years.

Create a variable salary and assign it a value. Calculate a 10% bonus of the salary and print the final amount after adding the bonus to the original salary.

In [32]:
salary = 12000
bonus_rate = 0.10
bonus_amount = salary * bonus_rate
total_amount = salary + bonus_amount
print(f'The original salary is: {salary:.2f}')
print(f'The bonus amount is: {bonus_amount:.2f}')
print(f'The final amount after bonus is: {total_amount:.2f}')

The original salary is: 12000.00
The bonus amount is: 1200.00
The final amount after bonus is: 13200.00

Create a list of your five favorite fruits. Write a for loop to print each fruit in the list

In [28]:
favourite_fruits = ['Apple', 'Banana', 'Cherry', 'Mango', 'Passion Fruit']
for i in favourite_fruits:
    print(i, end=" ")

Apple Banana Cherry Mango Passion Fruit

Create a list of five numbers. Write a Python program to calculate and print the sum of these numbers using a for loop.

In [29]:
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num
print(f'The sum of list numbers is = {total}')

The sum of list numbers is = 150

Write a Python program that checks if a number stored in the variable num is positive, negative, or zero and prints an appropriate message.

In [30]:
num = -7370755645334

if num > 0:
  print(f'{num} is Positive.')
elif num < 0:
  print(f'{num} is Negative.')
else:
  print(f'{num} is Zero.')

-7370755645334 is Negative.

Write a Python program that takes a variable grade and prints "Pass" if the grade is 50 or higher and "Fail" otherwise.

In [11]:
grade = 97

if grade >= 50:
  print('Pass')
else:
  print('Fail')

Pass

Create a dictionary named student with keys name, age, and grade. Assign
appropriate values to these keys. Print the dictionary.

In [15]:
student = {
    'name': 'Sara',
    'age': 15,
    'grade': 9
}

print(student)

{'name': 'Sara', 'age': 15, 'grade': 9}

Update the grade value in the student dictionary and print the updated dictionary.

In [16]:
student['grade'] = 10
print(student)

{'name': 'Sara', 'age': 15, 'grade': 10}

Create a tuple named dimensions with three elements representing the length, width, and height of a box. Print the second element of the tuple.

In [17]:
dimensions = (10, 4, 6)
print(dimensions[1])

4

Create a set named colors with elements "red", "green", and "blue". Add the color "yellow" to the set and print the updated set.

In [18]:
colors = {'red', 'green', 'blue'}
colors.add('yellow')
print(colors)

{'red', 'yellow', 'blue', 'green'}

Write a function named greet that takes a name as an argument and prints "Hello, name!". Call this function with your name.

In [31]:
def greet(name):
    print(f'Hello, {name}!')
greet('sura')

Hello, sura!

Write a function named calculate_area that takes the radius of a circle as an argument and returns the area of the circle. Use this function to calculate and print the area of a circle with a radius of 5.

In [25]:
import math
def calculate_area(radius):
  if radius < 0:
    return 'Radius cannot be negative'
  area = math.pi * (radius**2)
  return area

radius = 5
area_of_circle = calculate_area(radius)
print(f'The area of the circle with a radius of {radius} is: {area_of_circle}')

The area of the circle with a radius of 5 is: 78.53981633974483